<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>REPLACE THIS PER PAGE</title>

<meta name="description" content="REPLACE THIS PER PAGE">

<link rel="stylesheet" href="css/style.css?v=5">

<link rel="icon" href="images/favicon/favicon.ico" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">